/* --------------------------------------------------------
Theme Name 		: Ladyeve Theme
Theme URI 		: 
Author 			: Hilmi H
Author URI 		: 
Version 		: 1.0
Description 	: 
License 		: 
License URI 	: //license.txt
Tags  			: 
----------------------------------------------------------*/

/* Import */

@import url("style.css");
@import url("responsive.css");
@import url("bootstrap.min.css");
@import url("font-awesome.min.css");

/* === GLOBAL  === */

body {
	background-color: #ddd;
}

/* === PRIMARY === */

.liststyle-none {
	list-style: none;
}
.uppercase {
	text-transform: uppercase;
}
.inline {
	display: inline;
}
.nav-inline li {
	display: inline;
}

/* === HEADER  === */

.navbar {
	margin-bottom: 0px;
}

.navbar-primary {
	background-color: #eee;
}

/* === THUMBNAIL === */

#list-thumbnail {
	padding: 20px 0;
}

/* === FOOTER  === */

footer {
	padding: 40px;
	background-color: #333;
	color: white;
}
footer a {
	color: white;
	transition: all 0.3s ease-in-out;
}
footer a:hover, footer a:focus {
	color: #f3f;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}