/* --------------------------------------------------------
Theme Name 		: Ladyeve Theme
Theme URI 		: 
Author 			: Hilmi H
Author URI 		: 
Version 		: 1.0
Description 	: 
License 		: 
License URI 	: //license.txt
Tags  			: 
----------------------------------------------------------*/

/* Brand */
.img-brand {
	height: 20px;
}

/* Button */
.btn {
	border-radius: 0px !important;
}

/* Panel */
.box {
    background-color: #fff;
}
